li:hover {
    background-color: rgb(0, 173, 239);
}

nav {
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 5px rgb(0, 165, 80) solid;
}

li {
    padding: 20px;
}

a {
    font-size: larger;
    font-weight: bolder;
    color: rgb(237, 28, 36);
    text-decoration: none;
}

h1 {
    text-align: center;
}

h3 {
    padding-right: 2%;
}

p {
    font-size: 150%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}

.p_about {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-bottom: 5%;
}

.thumbnail_about {
    width: 15em;
    height: auto;
    border: 10px rgb(0, 173, 239) solid;
}

.social {
    padding-top: 5%;
    display: flex;
    justify-content: flex-end;
    padding-left: 10%;
    padding-right: 10%;
}

.social_icon {
    width: 2.5em;
    height: auto;
}

h2 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 300%;
}

.media_title {
    padding: 0;
}

.media_types {
    display: flex;
    justify-content: right;
    padding-left: 10%;
    padding-right: 10%;
}

.media_types:nth-child(odd) {
    justify-content: left;
}

.media_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thumbnail {
    width: 35em;
    height: auto;
    border: 10px rgb(0, 165, 80) solid;
}

.logo {
    padding-top: 1%;
    width: 25%;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.animation {
    width: 50em;
    height: auto;
    padding-bottom: 5%;
}

.art_gallery {
    display: flex;
    justify-content: space-around;
}

.art {
    width: 20em;
    height: auto;
    padding: 50px;
    transform: rotate(5deg);
}

.art:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
    animation-name: rotate;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.art:nth-child(odd) {
    transform: rotate(-7deg);
}

.art:hover:nth-child(odd) {
    animation-name: rotate_odd;
}

@keyframes rotate {
    from {
        transform: rotate(5deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes rotate_odd {
    from {
        transform: rotate(-7deg);
    }

    to {
        transform: rotate(0);
    }
}

.vert_art {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}