a:hover {
    background-color: rgb(210, 234, 255);
}

li:hover {
    background-color: rgb(210, 234, 255);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border: 2px black solid;
}

li {
    padding: 20px;
}

a {
    font-size: larger;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.logo {
    width: 25%;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
}

.art_gallery {
    display: flex;
    justify-content: space-around;
}

.art {
    width: 500px;
    height: auto;
    padding: 50px;
    transform: rotate(5deg);
}

.art:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
    animation-name: rotate;
    animation-duration: .5s;
}

.art:nth-child(odd) {
    transform: rotate(-7deg);
}

@keyframes rotate {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(7);
    }

}

.vert_art {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.fog {
    max-width: 1250px;
}